/* Global Section Styles */
section, header {
  min-height: 100vh; /* Set each section equal to viewport height */
  display: flex;
}

.section-divider {
  border: 1px solid #35540d;
  margin: auto;
}

/*Landing Section Styles*/
.landing-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/maxi-gimenez-aNcOeQLb_kA-unsplash.jpg");
  background-size:cover; /* Image covers entire section */
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em;
  gap: 5em;
}

.landing-section button {
  margin-bottom: auto;
  background-color: #f66538;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 0.5em 2.5em;
  font-size: 2em;
  text-shadow: 0px 0px 4px #5a1507;
  color: #ffffff;
}

.landing-section h1 {
  background-color: transparent;
  font-weight: 700;
  font-size: 5em;
  margin-top: auto;
  color: #ffffff;
  text-shadow: 0px 0px 20px black;
}

/* Info Section Styles */
.info-section {
  display: flex;
  justify-content: space-between; /* Content fills section space evenly */
  flex-direction: column;
}

.figures-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 5em 8em 5em;
}

.figure {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1; /* All figures take up equal amount of space */
  max-width: 33%; /* Maximum width for each figure */
}

.figure h1 {
  margin: auto auto 0.35em;
  font-size: 5em;
  color: rgba(201, 41, 41, 0.8);
  text-shadow: 0px 4px 4px #fff, 0 0 0 #000, 0px 4px 4px #fff;
}

.figure p {
  color: #5d5d5d;
  font-size: 1.75em;
  line-height: 115%;
  margin: auto 3em auto;
}

.carbon-section {
  display: flex;
  justify-content: space-between;
  margin: 5em 12em 5em;
  gap: 6em;
}

.carbon-sub-sections {
  display: flex;
  flex: 2; /* Text takes up 2/3 of the space */
  justify-content: space-evenly;
  flex-direction: column;
}



.carbon-img {
  flex: 1; /* Image takes up 1/3 of the space */
  display: flex;
  justify-content: end;
  align-items: end;
}

.carbon-img img {
  max-width: 100%; /* Image fills up entire width of container */
  height: auto; /* Image height is proportional to width */
  min-width: 500px;
}

.carbon-text p {
  font-size: 1.5em;
  line-height: 165%;
}

.carbon-text h3 {
  font-size: 2.5em;
  letter-spacing: 0.04em;
  line-height: 80%;
}


/* Features Section Styles */
.features-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto 3em 2em;
}

.features-section-title {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.features-section-title h2 {
  font-size: 3.5em;
  line-height: 56%;
  letter-spacing: 1px;
}

.features-section-title p {
  margin-top: 0;
  color: #5d5d5d;
  font-size: 1.5em;
  line-height: 165%;
}

.features-list{
  display: flex;
  justify-content: center;
  gap:4em;
}

.feature{
  background-color: #b3d385;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(23, 41, 6, 0.76);
  padding:2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:1em;
  max-width: 450px;
  min-width: 350px;
}

.feature-title{
  display: flex;
  justify-content: flex-start;
  align-items:center;
}

.feature-title img {
  width: 140px;
  height: auto;
  object-fit: contain;
}

.feature h4 {
  font-size: 2.5em;
  line-height: 95%;
  letter-spacing: 0.6px;
}

.feature p {
  color: #333;
  font-size: 1.4em;
  line-height: 155%;
  letter-spacing: 0.36px;
  margin: 0em 2.5em 1em;
}


/* Footer Styles */
footer {
  display: flex;
  justify-content: center; /* Center all footer content */
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 1em;
  font-size: 1.2em;
}

footer p {
  color: #5d5d5d;
}

.footer-links a {
  color: black;
  text-decoration-line: underline; /* Make sure links stand out */
  text-decoration-color: #5d5d5d;
}


/* Media queries */


@media (max-width: 1450px) {
  .figures-section {
    flex-direction: column;
    align-items: center;
    gap:3em;
  }

  .figure {
    max-width: 100%;
    margin-bottom: 2em;
  }

  .features-list{
    flex-direction: column;
  }

}

@media (max-width:2000px){
  .carbon-img{
    display: none;
  }
}