/* Header and Section Divider Styles */
header {
  min-height: 100%;
}

.nav-section-divider {
  position: relative;
  border: 2px solid #152105;
  margin: 0;
}

.section-divider {
  width:100%;
  border: 1px solid var(--green);
  margin: auto;
}

/* Landing Section Styles */
.landing-section {
  background-image: linear-gradient(#0c1301db, #0c130154 40%),
    url("../assets/maxi-gimenez-aNcOeQLb_kA-unsplash.jpg");
  background-size: cover; /* Image covers entire section */
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em;
  gap: 5em;
}

.landing-section button {
  margin-bottom: 6em;
  background-color: #f66538;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 0.5em 2.5em;
  font-size: 1.5rem;
  text-shadow: 0px 0px 4px #5a1507;
  color: #ffffff;
  cursor: pointer;
}

.landing-section h1 {
  background-color: transparent;
  font-weight: 700;
  font-size: 3.7rem;
  margin-top: 5em;
  color: #ffffff;
  text-shadow: 0px 0px 20px black;
}

/* Info Section Styles */
.info-section {
  display: flex;
  justify-content: space-between; /* Content fills section space evenly */
  flex-direction: column;
  width:100%;
  align-items: center;
}

.figures-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 2em auto 1em;
  width:70%;
  gap:1em;
}

.figure {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1; /* All figures take up equal amount of space */
  max-width: 33%; /* Maximum width for each figure */
}

.figure h1 {
  margin: auto auto 0;
  font-size: 4rem;
  color: #d84220d8;
  text-shadow: 0px 3px 3px #ffffff, 0 0 0 #000000; /* Inner shadow for text */
}

.figure p {
  color: var(--grey);
  font-size: 1.2rem;
  line-height: 115%;
  align-self: center;
  width:80%;
}

.carbon-section {
  display: flex;
  justify-content: center;
  margin: 2em 2em;
  max-width: 1400px; /* Maximum width for larger screens */
}

.carbon-sub-sections {
  display: flex;
  flex: 2; /* Text takes up 2/3 of the space */
  justify-content: space-around;
  flex-direction: column;
  gap:1em;
}

.carbon-img {
  flex: 1; /* Image takes up 1/3 of the space */
  display: flex;
  justify-content: end;
  align-items: end;
}

.carbon-img img {
  max-width: 100%; /* Image fills up entire width of container */
  height: auto; /* Image height is proportional to width */
  min-width: 500px;
}

.carbon-text p {
  font-size: 1.2rem;
  line-height: 165%;
  text-align: start;
}

.carbon-text h3 {
  font-size: 2rem;
  letter-spacing: 0.04em;
  margin:0;
}

/* Features Section Styles */
.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  margin: 1em 1em 3em;
}

.features-section-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.features-section-title h2 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.features-section-title p {
  margin-top: 0;
  color: var(--grey);
  font-size: 1.2rem;
  line-height: 165%;
}

.features-list {
  display: flex;
  justify-content: center;
  margin: 0 10em;
  gap: 4em;
  width: inherit;
}

.feature {
  background-color: var(--light-green);
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(23, 41, 6, 0.76);
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  width: 80%;
}

.feature-title {
  display: flex;
  width: inherit;
  justify-content: flex-start;
  align-items: center;
}

.feature-title img {
  max-width: 110px;
  height: auto;
  object-fit: contain;
}

.feature h4 {
  font-size: 2rem;
  letter-spacing: 0.6px;
}

.feature p {
  color: #333;
  font-size: 1.1rem;
  line-height: 155%;
  letter-spacing: 0.36px;
  margin: 0em 1em 1em;
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: center; /* Center all footer content */
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0.5em;
}
footer p {
  color: var(--grey);
  font-size: 0.9rem;
  margin: 0.3em;
}

.footer-links a {
  color: #000000;
  text-decoration-line: underline; /* Make sure links stand out */
  text-decoration-color: var(--grey);
}

/* Media Queries */
@media (max-width: 1450px) {
  .figures-section {
    flex-direction: column;
    align-items: center;
    gap: 3em;
  }

  .figure {
    max-width: 100%;
  }

  .features-list {
    flex-direction: column;
  }

  .carbon-img {
    display: none;
  }
}

@media (max-width: 481px) {

  .features-list {
    margin: 0 1em;
  }


}
