.navbar {
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

/* Main Nav Styles */
.center-nav {
  flex: 1;
  background-color: transparent;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: auto;
  align-items: center;
  gap: 1.5em;
  background-color: transparent;
}

.nav-links li a,
.dropdown-toggle {
  padding: 0.5em 1em;
}

.nav-links li .active {
  background-color: var(--orange);
  border-radius: 20px;
  color: #ffffff;
}

/* Dropdown Menu Styles */
.dropdown-toggle {
  display: none;
  background-color: transparent;
  border: none;
}


.dropdown-toggle.active {
  background-color: #cee1b7;
  border-radius: 5px;
}

.nav-links.dropdown {
  display: none;
  flex-direction: row;
  width: fit-content;
  position: absolute;
  left: 1em;
  top: 3em;
  margin: 0 auto;
  background-color: #cee1b7;
  padding: 1rem 0;
  justify-content: flex-start;
  border-radius: 5px;
  z-index: 1;
}

.nav-links.dropdown .active {
  background-color: transparent;
  color: #263c09;
  text-decoration: underline;
}

/* Logo Styles*/
.left-nav {
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-left: 1em;
}

.logo {
  display: flex;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
}

.logo-name {
  color: #263c09;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}


.logo-icon {
  fill: #263c0960;
  stroke: #263c09;
  stroke-width: 30px;
  font-size: 2.5rem;
  margin-right: -0.05em;
  transform: scaleX(-1);
  background-color: transparent;
}

/* Login/Logout Styles */
.right-nav {
  margin-right: 1em;
}

.right-nav button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.center-nav li a,
.right-nav button,
.dropdown-toggle {
  font-size: 1rem;
  font-weight: 500;
  color: #263c09;
}

/* Media Queries */
@media (max-width: 768px) {
  .logo-name {
    display: none; /* Remove 'Carbon24' text */
  }

  .nav-links {
    display: none; /* Remove center nav items */
  }

  .nav-links.dropdown {
    display: flex; /* Add dropdown for center nav items */
  }

  .dropdown-toggle {
    display: block;
  }
}
