/* Form Container Styles */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 2em 1em;
  width:fit-content;
}

/* Form Heading Styles */
.form-container h1 {
  color: var(--green);
  text-align: center;
  font-size: 2.1rem;
  font-weight: 500;
  margin: 0;
}

.form-container p {
  color: var(--grey);
  text-align: center;
  font-size: 1.1rem;
  margin: 0.5em 0em 1.5em;
}

/* Main Form Styles */
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:0 3em;
  width:100%;
}

.form-fields {
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-between;
}

.form button {
  margin: 1.5em 0 0;
  padding: 0.7em 3em;
  border-radius: 7px;
  border: none;
  background: var(--green);
}

.form input {
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid var(--grey);
  width: 95%;
  height: 2.3em;
  padding: 0 0.5em 0;
}

.form label {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Submit button Styles */
.submit-button button {
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0px 0px 4px #2d4014;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

/* Other button and link Styles */
.login-button,
.signup-button,
.modal-content a {
  color: var(--orange);
  padding: 0;
  font-size: inherit;
  text-decoration-line: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reset-password-link {
  align-self: flex-end;
}
