@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Global Variables */
:root{
  --orange:#D7573B;
  --green:#5D7C34;
  --light-green:#B3D385;
  --grey:#5D5D5D;

}

/* Global Styles */
* {
  font-family: "Archivo", sans-serif;
  color: #000000;
}

html {
  font-size: 100%;
  max-width: 1920px;
  margin: 0 auto; /* Center the container */
  padding: 0; /* Optional: Add padding to avoid content touching the edges */
}

body {
  margin: 0;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #000000;
  text-decoration: none;
}
