@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Global Variables */
:root {
  --orange: #d7573b;
  --green: #5d7c34;
  --light-green: #b3d385;
  --grey: #5d5d5d;
}



/* Global Styles */
* {
  font-family: "Archivo", sans-serif;
  color: #000000;
}

html {
  font-size: 100%;
  max-width: 1920px;
  margin: 0 auto; /* Center the container */
  padding: 0; /* Optional: Add padding to avoid content touching the edges */
}

body {
  margin: 0;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #000000;
  text-decoration: none;
}

/* Page Title Styles */
.title {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1.75em 0em;
}

.title hr {
  border: 1px solid var(--green);
  margin: 0;
  padding:0;
}

.title p {
  color: var(--grey);
  font-size: 1em;
}

.title h1 {
  color: #000000;
  font-size: 50px;
  line-height: 55%;
  padding: 0.2em;
  margin-bottom: 0.1em;
}
